<app-navbar></app-navbar>
<div class="container">
  <div class="productos">

    <div class="card" *ngFor = 'let prod of listaProductos'>
        <h6>id Producto: {{prod.idProd}}</h6>
        <h6>Productos: {{prod.producto}}</h6>
        <h6>Precio: {{prod.precio}}</h6>
        <h6>Existencia: {{prod.existencia}}</h6>
        <div class="row">
          <button id="btncomprar" class="btn-small amber dark-4 rigth" (click) ="comprar(prod.idProd, prod.producto, 
          prod.precio, prod.existencia, h.value)">Añadir</button>
          <input [value]='1' #h type="number" min='1' pattern="^[0-9]+" id="cantidad">
        </div>
    </div>

  </div>
</div>