nav{
    background: rgba(134, 87, 16, 0.794);
}

#nav-mobile{
    display: flex;
}

.brand-logo{
    margin-left: 25px;
    font-size: 1.5em;
}

nav ul li a{
    display: flex;
    color: rgb(255, 255, 255);
}

nav ul li a:hover{
    background: rgba(255, 255, 255, 0.781);
    color: rgb(255, 0, 0);
}

.material-icons{
    margin-right: 5px;
}

.canasta{
    color: chartreuse;
    font-size: 1.6em;

}