<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><i class="material-icons canasta">shopping_basket</i> Mercadito Online</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="/home"><i class="material-icons">home</i>Inicio</a></li>
      <li><a routerLink="/catalogo"><i class="material-icons">apps</i>Catálogo</a></li>
      <li><a routerLink="/carrito"><i class="material-icons">shopping_cart</i> Carrito</a></li>
      <li><a routerLink="/producto"><i class="material-icons">note_add</i> Agregar Producto</a></li>
      <li><a  (click)='salir()'><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li>
    </ul>
  </div>
</nav>