
.card{
    background: rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    width: 350px;
}

.card-content{
    display: block;
    align-items: center;
    width: 100%;
}

.card-content h4{
    text-align: center;
    margin-top: 15px;
}

::placeholder{
    color: gray;
}

#precioProd{
text-align: center;
}

#existProd{
text-align: center;
}

#agregaProd{
    display: flex;
    margin: 0 auto;
}

#resetbtn{
    display: flex;
    margin: 0 auto;
}

.contBotones{
    display: flex;
}



.formProducto{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}