<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="card formProducto">
      <div class="card-content">
        <h4>Agregar Producto</h4>
        <form #productoForm = ngForm (ngSubmit)="onSubmit(productoForm)">
          <div class="form-group">
            <!-- authService es una variable importada en el product.component.ts del servicio auth.service.ts -->
            <input type="number" class="form-control" name="idProd" #name="ngModel" [(ngModel)]="servicio.prodSeleccionado.idProd" placeholder="Escribe el id del producto">
          </div>
          <div class="form-group">
            <!-- authService es una variable importada en el product.component.ts del servicio auth.service.ts -->
            <input type="text" class="form-control" name="producto" #name="ngModel" [(ngModel)]="servicio.prodSeleccionado.producto" placeholder="Escribe el nombre del producto">
          </div>
          <div class="form-group">
            <input type="number" id="precioProd" class="form-control" name="precio" #preProd="ngModel" [(ngModel)]="servicio.prodSeleccionado.precio" placeholder="Escribe el precio del producto">
          </div>
          <div class="form-group">
            <input type="number" id="existProd" class="form-control" name="existencia" #exiProd="ngModel" [(ngModel)]="servicio.prodSeleccionado.existencia" placeholder="Escribe la existencia del producto">
          </div>
          <br>
          <div class="contBotones">
            <button id="agregaProd" type="submit" class="btn green darken-4" ><i class="material-icons" >note_add</i>Agregar</button>
            <button id="resetbtn" type="reset" class="btn orange darken-4" (click)="resetForm(productoForm)" ><i class="material-icons" >sync</i>Resetear</button>
              <!-- <input type="submit" id="agregaProd" value="Agregar Producto" class="btn green darken-4"> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>